*{
    margin: 0;
}
body{
    min-width: 750px;
}

.top{
    background-color:#3b5998;
    font-size: 16px;
    height: 80px;
}

.logo{
    font-family: 'Alfa Slab One', cursive;;
    color: #fff;
    font-size: 48px;
    float: left;
    margin-left: 13%;
    margin-top: 0.8%;
    letter-spacing: 5px;
}

.credential{
    margin: 0px 10px    ;
    margin-bottom: 0px;
    color: #fff;
    float: right;
}


a{
    color: white;
    text-decoration: none;
}

button{
    background-color: #29487d;
    color: #fff;
    border: none;   
}

.bottom{
    height: 880px;
    background: linear-gradient(white, #D3D8E8);;
}

.left{
    width: 55%;
    height: 650px;
    float: left;
}

img{
    float: right;
    width: 640px;
    height: auto;
    margin-top: 10%;
}

h1{
    width: 640px;
    float: right;
    margin: 0px;
    margin-top: 5%;
    font-size: 28px;
    font-weight:;
}

.right{
    width: 45%;
    height: 650px;
    float: right;
}

.right h1{
    font-size: 36px;
    float: left;
    margin-left: 5px;
}

.right h3{
    font-size: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: normal;
}

.form{
    float: left;
}

.right input{
    padding: 8px 10px;
    font-size: 18px;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin: 0;
    width: 377px;
    background-color: #fff;
    border: 1px solid #ccd0d5;
    margin: 5px;
}
#fname{
    width: 180px;
    margin-top: 20px;
}
#lname{
    width: 160px;
    margin-top: 20px;
}
.form div{
    width: 300px;
    text-align: justify;
}

.form button{
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}







